@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');

.card {
	font-family: 'Arbutus Slab', serif;
	font-size: 12pt;
	line-height: 1.25;
}

.card > * {
	position: absolute;
}

.magnet-place {
	left: calc(50% - 1cm);
	height: 1cm;
	width: 2cm;
	border-bottom-left-radius: 2cm;
	border-bottom-right-radius: 2cm;
	border: 1px dashed #ccc;
	border-top: 0;
}

.magnet-place::before {
	content: '';
	display: block;
	height: 0.2cm;
	width: 0.4cm;
	border-bottom-left-radius: 4cm;
	border-bottom-right-radius: 4cm;
	background: #aaa;
	position: relative;
	margin: 0 auto;
}

.issue-summary {
	top: 1.3cm;
	left: 0.9cm;
	right: 0;
	height: calc(20pt * 5 * 1.25);
	font-size: 20pt;
	overflow: hidden;
	display: flex;
	align-items: center;
	word-wrap: break-word;
}

.issue-summary > span {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.issue-id {
	bottom: 0;
	height: 1.8cm;
	left: 0.9cm;
	line-height: 1.8cm;
	font-size: 14pt;
	color: #666;
}

.issue-type {
	right: 0;
	line-height: 1cm;
}

.issue-type > span {
	padding: 0.05cm 0.2cm;
	border-radius: 0.1cm;
}

.issue-points {
	width: 1.8cm;
	height: 1.8cm;
	border-radius: 50%;
	border: 0.05cm solid #666;
	right: 0;
	bottom: 0;
	text-align: center;
	line-height: 1.8cm;
	font-size: 28pt;
}

.issue-points.hide {
	display: block; /* never hide */
}

.issue-priority {
	width: 0.4cm;
	height: 100%;
	top: 0;
	font-size: 0;
}

.issue-priority > span {
	width: 100%;
	height: 100%;
	display: block;
}